[user]
	email = olli.hanhimaki@oiwasolutions.fi
	name = Olli Hanhimäki
[alias]
	co = checkout
[core]
	editor = vim
[core]
	safecrlf = true
	autocrlf = false
	editor = vim
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/libexec/git-core/git-credential-manager-core.exe
