[user]
	email = olli.hanhimaki@pinja.com
	name = Olli Hanhimäki
[alias]
	co = checkout
[core]
	editor = nvim
[core]
	safecrlf = false
	autocrlf = true
	editor = nvim
[credential]
	helper = manager
[credential "http://fiptfsado:8080"]
	provider = generic
