[user]
	email = ohanhimaki@gmail.com
	name = Olli Hanhimäki
[alias]
	co = checkout
[core]
	editor = vim
[core]
	autocrlf = input
	editor = vim
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/libexec/git-core/git-credential-manager-core.exe
